@{
    Layout = "_Layout";
}
<h1>Restaurant Name:@Model.GetName()</h1>

<ul>
<li>Restaurant Address:@Model.GetAddress()</li>
<li>Restaurant Phone:@Model.GetPhone()</li>
<li>Restaurant Id:@Model.GetId()</li>
</ul>