@{
  Layout = "_Layout";
}

<div class="container">
<h1>Hi, Weclome to the Restaurant Manager</h1>
<h2><a href="/restaurant/index">See All Restaurants</a></h2>
<h2><a href="/cuisine/index">See All Cuisines</a></h2>
</div>
